<div class="relative flex-1 overflow-hidden h-full bg-[#010409]">
    <div class="h-full flex flex-col min-w-0 overflow-hidden">
        <mtx-justified-gallery [showHeader]="false" (timelineLoaded)="onTimelineLoaded($event)"
            (activeTitleChange)="onActiveTitleChange($event)" (selectionChange)="onSelectionChange($event)">
        </mtx-justified-gallery>
    </div>

    <div class="timeline-ruler z-50">
        @for (group of groups(); track group.title) {
        <div class="timeline-item" [class.active]="activeGroupTitle() === group.title"
            (click)="scrollToGroup(group.title)">
            <span class="timeline-year">{{ group.title.split('-')[0] }}</span>
            <span class="timeline-month">{{ getMonthName(group.title.split('-')[1]) }}</span>
            <div class="timeline-line"></div>
        </div>
        }
    </div>
</div>