[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[dependencies]
nimble-web = { path = "./crates/nimble-web" }
tokio = { version = "1.49", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
