<div class="relative flex-1 overflow-hidden h-full bg-[#010409]">
    <div class="h-full flex flex-col min-w-0 overflow-hidden">
        <mtx-justified-gallery [showHeader]="false" (timelineLoaded)="onTimelineLoaded($event)"
            (activeTitleChange)="onActiveTitleChange($event)" (selectionChange)="onSelectionChange($event)">
        </mtx-justified-gallery>
    </div>

    <div class="timeline-ruler years-ruler z-50">
        @for (year of years(); track year) {
        <div class="timeline-year-item" [class.active]="activeYear() === year" (click)="scrollToYear(year)">
            <span class="year-label">{{ year }}</span>
            <div class="year-dot"></div>
        </div>
        }
    </div>

    <div #monthsRuler class="timeline-ruler months-ruler z-40">
        @for (group of groups(); track group.title) {
        @let year = group.title.split('-')[0];
        @let prevYear = $index > 0 ? groups()[$index-1].title.split('-')[0] : null;

        @if (year !== prevYear) {
        <div class="month-year-separator">{{ year }}</div>
        }

        <div class="timeline-item" [class.active]="activeGroupTitle() === group.title" [attr.data-year]="year"
            (click)="scrollToGroup(group.title)" title="{{ group.title }}">
            <span class="timeline-month">{{ getMonthName(group.title.split('-')[1]) }}</span>
            <span class="day-label">{{ group.title.split('-')[2] }}</span>
            <div class="timeline-line"></div>
        </div>
        }
    </div>
</div>